:root{
	--blue: #2d98da;
	--white: #f1f2f6;
	--lightBlue:#70a1ff;
}
html,
body{
	overflow-x: hidden;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
}
a{
	text-decoration: none;
}

#navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--blue);
	padding: 10px 25px;
}

#navbar .navbar-items{
	display: flex;
	align-items: center;
	gap: 20px;
}
#navbar a{
	color: var(--white);
}
#navbar a:hover{
	color: white;
}
#navbar .logo{
	font-size: 2rem;
	font-weight: 600;
	color: white;
}

#navbar .search-box form{
	display: flex;
	align-items: center;
	background: var(--white);
	padding: 5px 7px;
	border-radius: 3px;
}
#navbar .search-box form input,
#navbar .search-box form button{
	all: unset;
}
#navbar .search-box form button{
	font-size: 1.1rem;
}

#navbar .menu-toggler{
	display: none;
	height: 35px;
	width: 50px;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

#navbar .menu-toggler span{
	height: 5px;
	background: white;
	border-radius: 2px;
	transition: .3s;
}

#navbar .menu-toggler input[type=checkbox]{
/*	-webkit-appearance: none;*/
	position: absolute;
	inset: unset;
	width: 50px;
	height: 35px;
	z-index: 9;
	opacity: 0;
}

#navbar .menu-toggler input[type=checkbox]:checked ~ span:nth-child(2){
	transform: translate(5px,15px) rotate(45deg);
}
#navbar .menu-toggler input[type=checkbox]:checked ~ span:nth-child(3){
	transform: scale(0);
}
#navbar .menu-toggler input[type=checkbox]:checked ~ span:nth-child(4){
	transform: translate(5px,-15px) rotate(-45deg);
}

/*bagian main*/

#shelf{
	padding: 25px;
}

#shelf .section-wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

#shelf  .section-title{
	font-size: 1.8rem;
	margin-bottom: 25px;
}
#shelf .section-wrapper section .title{
	margin-bottom: 15px;
}

#shelf .section-wrapper .items-wrapper .book-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#shelf .section-wrapper .items-wrapper .book-item .btns button{
	all: unset;
	padding: 3px 6px;
	cursor: pointer;
	border-radius: 2px;
	color: white;
	margin: 0 2px;
}
#shelf .section-wrapper .items-wrapper .book-item .btns button#redo{
	background: #ffa502;
}
#shelf .section-wrapper .items-wrapper .book-item .btns button#done{
	background: #2ed573;
}
#shelf .section-wrapper .items-wrapper .book-item .btns button#delete{
	background: #ff4757;
}
#shelf .section-wrapper .items-wrapper .book-item .btns button#edit{
	background: var(--blue);
}
#shelf .section-wrapper .items-wrapper .book-item .btns button#edit:hover{
	background: var(--blue);
	opacity: .75;
}

#shelf .section-wrapper .items-wrapper .book-item .btns button#redo:hover{
	background: #ffa502;
	opacity: .75;
}
#shelf .section-wrapper .items-wrapper .book-item .btns button#done:hover{
	background: #2ed573;
	opacity: .75;
}
#shelf .section-wrapper .items-wrapper .book-item .btns button#delete:hover{
	background: #ff4757;
	opacity: .75;
}

#shelf .section-wrapper .items-wrapper .book-item .text-wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}

#shelf .section-wrapper .items-wrapper .book-item:nth-child(even){
	background: var(--white);
	padding: 5px;
}

#shelf .section-wrapper .items-wrapper .book-item .text-wrapper span:nth-child(1){
	font-size: 1.2rem;
	margin-bottom: -5px;
	text-transform: capitalize;
}#shelf .section-wrapper .items-wrapper .book-item .text-wrapper span:nth-child(2){
	font-size: .95rem;
	text-transform: capitalize;
}
#shelf .section-wrapper .items-wrapper .book-item .text-wrapper span:nth-child(3){
	font-size: .75rem;
}

.card{
	background: white;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
}

/*pop up*/
.bg-popup{
	position: fixed;
	inset: unset;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	transition: .3s;
	opacity: 0;
	pointer-events: none;
}

.bg-popup.show{
	opacity: 1;
	pointer-events: inherit;
}

.popup{
	max-width: 550px;
	position: relative;
	top: 50%;
	left: 50%;
	transition: .5s;
	transform: translate(-50%,-50%);
}
.popup #close-popup{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.popup #close-popup i{
	font-size: 2.5rem;
	color: red;
}
.popup #close-popup i:hover{
	color: #ff6b81;
}


.popup .form-title{
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.popup form .input-wrapper{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 15px;
}

.popup form .input-wrapper input{
	padding: 7px 10px;
	border-radius: 4px;
	outline: unset;
	border: 1px solid #2f3542;
}

.popup form button{
	all: unset;
	background: var(--blue);
	padding: 7px 10px;
	color: white;
	border-radius: 3px;
	margin-top: 15px;
	cursor: pointer;
}
.popup form button:hover{
	background: #70a1ff;
}

.notification{
	position: fixed;
	inset: unset;
	left: 50%;
	top: -100%;
	transition: .5s;
	z-index: 999;
	transform: translate(-50%,-50%);
}
.notification.show{
	top: 10%;
}


/*preload animation*/
.preload{
	position: fixed;
	inset: unset;
	z-index: 99;
	background: var(--blue);
	width: 100vw;
	height: 100vh;
	transition: .5s;
}

.preload.hide{
	transform: translateY(-100%);
}

.preload span{
	color: white;
	font-size: 2rem;
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
}